body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('https://annahrandriami.github.io/Mon_portfolio/image/digitization-5231610_1280.jpg');
    background-size: cover;
    color: #333;
}

h2 {
    text-align: center;
    color: #0056b3;
}

.container {
    max-width: 300px;
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(252, 243, 243, 0.781);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #003d80;
}

.result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #008000;
}

.close-btn {
    background-color: #d9534f;
    margin-top: 20px;
}

.close-btn:hover {
    background-color: #c9302c;
}

.definition {
    color: gray;
    font-size: small;
    font-style: italic;
}

.entete {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

li {
    cursor: pointer;
}