/* Pour les écrans de moins de 768px (tablettes et petits ordinateurs) */
@media (max-width: 1040px),
(max-height: 429px) {
    body {
        transform: none !important;
        translate: none !important;
        animation: none !important;

    }

    .animation {
        background: url('https://annahrandriami.github.io/Mon_portfolio/image/emoji.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .my-tools,
    .nav,


    #btn-5,
    #btn-1,
    #btn-4,
    #btn-2,
    #btn-3,
    .head,
    .mounth,
    .globe-a,
    .globe-b,
    .content-modal-right,
    .name {
        display: none
    }




    .globe-a,
    .globe-b {
        animation: none !important;
        transform: none !important;
        translate: none !important;
        scale: 0.7;

    }

    .loader {
        z-index: 0;
        background: none;
        opacity: 0;
        animation: none;
    }
}